build/
*.o
*.so
*.a
*.pyc
*.egg-info
*.egg
*.deb
*.dsc
*.build
*.changes
*.orig.*
packaging/*tar.xz
library/debian/
dist/
__pycache__
.DS_Store

autom4te.cache
.deps
config.log
config.status
config.guess
config.sub
configure
configure.scan
depcomp
missing
install-sh
aclocal.m4
compile
autoscan.log
autoscan-*.log
Makefile.in
ltmain.sh
.dirstamp
.libs

*.l[ao]
